@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), 
         url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), 
         url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  $main-font: 'Montserrat';
  $oxford: #222935;
  $green: #022a88;
  $blue: #0b05aa;
  //#26C17E;
  $lightgrey: #667081;
  $white: #fff;
  
  .home {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $main-font;
    text-align: center;
    color: $white;
    margin: 0;
  }
  
  .home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .home-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(34, 41, 53, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;  
  }
  
  .home-avatar {
    border-radius: 50%;
    overflow: hidden;
    //background-color: $blue;
    //box-shadow: 0 0 5px $blue, 0 0 10px $blue, 0 0 20px $blue, 0 0 40px $blue, 0 0 80px $blue, 0 0 90px $blue, 0 0 100px $blue, 0 0 150px $blue;
  }
  
  .home-name {
    font-weight: 600;
  }
  
  .home-position {
    font-weight: 300;
  }
  
  .home-text {
    font-weight: 100;
  }
  
  .home-button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    background-color: $oxford;
    color: $white;
    text-decoration: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    overflow: hidden;
    //box-shadow: 0 0 5px $blue, 0 0 10px $blue, 0 0 20px $blue, 0 0 40px $blue, 0 0 80px $blue, 0 0 90px $blue, 0 0 100px $blue, 0 0 150px $blue;
  }
  
  .home-button:hover {
    background-color: $green;
    color: $white;
  }
  
  .home-button-text {
    text-decoration: none !important;
    border: none !important;
    font-size: 16px;
    &:hover {
      text-decoration: none !important;
    }
  }
  