@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), 
         url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), 
         url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }  
 
 
 $main-font: 'Montserrat', sans-serif;
 $oxford: #222935;
 $green: #1f2a38;
 $nice-blue: #4da0ff;
 //#26C17E;
 $lightgrey: #667081;
 $white: #fff;
 $grey-background: #f3f1f1;

 body {
    font-family: $main-font;
  }

 /* Inner */
.inner {
    background-color: $white; 
    min-height: 100vh;
    width: 80%;
    display: grid;
    grid-template-columns: 2% 98%;
    grid-template-rows: 10% 20% 33% 20% 15%;
    row-gap: 2%;
    box-sizing: border-box;
    transition: margin-left 0.2s; 
    margin-left: 0;
  }
  
 /* Panel */
.panel {
  text-align: center;
  color: $lightgrey;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.2s;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 20%;
  overflow: hidden;
}

.panel.open {
  transform: translateX(0); 
}

.panel.open + .inner {
  margin-left: 20%;
}

.panel-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.panel-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(34, 41, 53, 0.6);
  backdrop-filter: blur(10px);
}

.go-back-icon {
  display: block;
  margin-top: auto;
  margin-bottom: 20px;
  color: $green;
  text-decoration: none;
}
  
  /* Sidebar Icon */
  .sidebar-icon {
    grid-row: 1;
    width: 30px;
    height: 30px;
    background-color: $oxford;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
  }
  
  /* Navigation */
  .navigation-menu {
    display: block;
    color: $lightgrey;
    transition: color 0.2s;
  }
  
  .navigation-menu__ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation-menu__ul-li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    color: $white;
    transition: color 0.2s;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    //text-shadow: 0 0 5px $white, 0 0 10px #0b05aa, 0 0 20px #0b05aa, 0 0 40px #0b05aa, 0 0 80px #0b05aa, 0 0 90px #0b05aa, 0 0 100px #0b05aa, 0 0 150px #0b05aa;

  
    &:hover {
      background-color: $white;
      color: $green;
      //box-shadow: 0 0 5px $white, 0 0 10px $white, 0 0 20px $white, 0 0 40px $white, 0 0 80px $white, 0 0 90px $white, 0 0 100px $white, 0 0 150px $white;
    }
  
    svg {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
  }
  
  .navigation-menu__ul-li .active-link {
    font-weight: 700;
    color: $green;
    background-color: $white;
  }  

/* Portfolio */
.portfolio-main {
    grid-column: 2;
    grid-row: 4 / 5;
    margin-right: 20px;
  
    h2 {
      color: $green;
      padding-top: 30px;
    }
  }
  
  .portfolio {
    .portfolio-categories {
      display: flex;
      flex-direction: row;
      margin: 20px 0;
  
      button {
        background-color: transparent;
        color: $oxford;
        padding: 2px;
        border: none;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
  
        &:hover {
          background-color: transparent;
          color: darken($green, 10%);
        }
      }
    }
  
    .portfolio-items {
      display: flex;
      gap: 20px;
  
      .portfolio-item {
        position: relative;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
  
        img {
          max-width: 100%;
          height: auto;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          transition: transform 0.5s ease-in-out;
  
          &:hover {
            transform: scale(1.1);
          }
        }
  
        .portfolio-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          visibility: hidden;
          background-color: rgba(255, 255, 255, 0.9);
          padding: 0px;
          border-radius: 5px;
          text-align: center;
          transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
          width: 100%;
          height: 100%;
  
          h3 {
            font-size: 16px;
            margin-bottom: 10px;
          }
  
          p {
            font-size: 12px;
            margin-bottom: 10px;
          }
  
          a {
            color: $green;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
  
        &:hover .portfolio-text {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

/* Expertise */
.experience {
  grid-column: 2;
  grid-row: 2 / 3;
}

.expertise-list {
    list-style: none;
    padding: 0;
  
    li {
      display: flex;
      margin: 20px 0;
      align-items: center;
  
      div:first-child {
        font-weight: 700;
        margin-right: 20px;
      }
  
      div:last-child {
        h4 {
          font-weight: 700;
          font-size: 18px;
        }
  
        p {
          font-size: 16px;
        }
      }
    }
  }
  
/* Feedback */
.feedback {
    grid-column: 2;
    grid-row: 7;

    h2 {
        color: $green;
    }
}

.feedback-list {
    list-style: none;
    padding: 0;
    color: $oxford;
  
    li {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 80% 20%;
      margin-right: 20px;
      align-items: center;
  
      p {
        grid-column: 1;
        grid-row: 1;
        font-size: 16px;
        background-color: $grey-background;
      }
  
      .reporter {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
  
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin: 10px;
        }
  
        p {
          font-size: 16px;
          background-color: transparent;
        }
  
        a {
          font-size: 14px;
          color: $green;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
/* Box */
.box {
    background-color: $white;
    color: $oxford;
    text-align: left;
    margin-right: 20px;
  
    h2 {
      color: $green;
      font-size: 24px;
    }
  
    p {
      font-size: 16px;
    }
  }
  
/* Button */
  .btn {
    background-color: $green;
    color: $white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
  
    svg {
      margin-right: 10px;
    }
  }
  
  .btn:hover {
    background-color: darken($green, 10%);
  }

  .btn-text {
    text-decoration: none;
  }
  
/* PhotoBox */
.photo-box {
    margin-top: 30px;
    text-align: center;
  
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 10px;
    }
  
    h2 {
      font-size: 24px;
      color: $white;
    }
  
    p {
      font-size: 18px;
    }
  }
  
  
/* TimeLine 
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 30vh;
    max-height: 80vh;
    gap: 10px;
  
    .timeline-event {
      display: flex;
      align-items: center;
      text-align: left;
  
      .event-date {
        font-weight: 700;
        font-size: 18px;
        margin-right: 20px;
      }
  
      .event-details {
        background-color: $grey-background;

        h3 {
          font-size: 18px;
          padding-left: 10px;
        }
  
        p {
          padding-left: 10px;
          font-size: 12px;
        }
      }
    }
  }

 .timeline-container {
    grid-column: 2;
    grid-row: 3;
    margin-right: 20px;

    div > h2 {
        color: $green;
        padding-top: 30px;
    }
  }
  */

/*About Me*/
.about-me {
    grid-column: 2;
    grid-row: 1;
    padding-top: 15px;
}

/*Experience*/
#root > div > div:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    color: $oxford;

    div > h2 {
        color: $green;
    }
}

.address {
    color: $oxford;
}

/*Contacts*/
.contacts {
    grid-column: 2;
    grid-row: 5;

    div > h2 {
        color: $green;
    }

    div > p {
        display: grid;
        grid-template-columns: 30px auto;
        grid-template-rows: repeat(2, auto);
        align-items: center;

        img {
            grid-column: 1;
            grid-row: 1 / 3;
        }

        span {
            grid-column: 2;
            grid-row: 1 / 2;  
        }

        a {
            grid-column: 2;
            grid-row: 1 / 3;   
        }
    }

    div > p > a {
        text-decoration: none;
        color: $oxford;
        font-weight: 400;
        margin-left: 20px;
    }
}

.skype {
    display: block;
    font-weight: 600;
    margin-left: 20px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  grid-row: 4;
  grid-column: 2;

  .btn-openSkills-icon {
    color: $white;
    padding-left: 10%;
    padding-right: 10%;
  }

  h2 {
    color: $green;
    padding-top: 30px;
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
  }
  
  .error {
    text-align: center;
    color: red;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;

      p {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
}

.skills-form {
  margin-top: 20px;
}

.skills-form label {
  display: block;
  margin-bottom: 5px;
}

.skills-form input {
  width: 40%;
  padding: 8px;
  margin-bottom: 10px;
}

.skills-form button {
  margin-bottom: 20px;
  width: 20%;
  background-color: $green;
  color: $white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.skills-form button:disabled {
  background-color: $grey-background;
  cursor: not-allowed;
}

.skill-bar {
  height: 20px;
  background-color: $white;
  margin-bottom: 10px;
  position: relative;
}

#myProgress {
  max-width: 100%;
  background-color: $white;
  border: 1px solid $grey-background;
  height: 30px;
  row-gap: 1px;
}

#myBar {
  width: 100%;
  height: 100%;
  background-color: $green;
  text-align: left;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}
.skill-progress {
  height: 100%;
  background-color: $green;
}

.btn-openSkills {
  margin-left: 80%;
  width: 20%;
  background-color: $oxford;
  color: $white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-openSkills:hover {
  background-color: darken($green, 10%);
}

.skills-stats {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skill-stat {
  flex-grow: 1;
  padding-right: 10px;
  background-color: $white;
  border: none;
}

.skill-stat1 {
  text-align: left;
}

.skill-stat2 {
  text-align: center;
}

.skill-stat3 {
  text-align: center;
}

.skill-stat4 {
  text-align: right;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  margin-bottom: 10px;
} 

.liners {
  width: 100%;
  height: 20px;
  display: flex;
}

.liner1 {
  border-bottom: 1px solid $oxford;
  border-left: 1px solid $oxford;
  border-right: 1px solid $oxford;
  flex-grow: 1;
  text-align: left;
}

.liner2 {
  border-bottom: 1px solid $oxford;
  border-left: none;
  border-right: none;
  flex-grow: 1;
  text-align: center;
}

.liner3 {
  border-bottom: 1px solid $oxford;
  border-left: 1px solid $oxford;
  border-right: 1px solid $oxford;
  flex-grow: 1;
  text-align: center;
}

.liner4 {
  border-bottom: 1px solid $oxford;
  border-left: 1px solid $oxford;
  border-right: 1px solid $oxford;
  flex-grow: 1;
  text-align: right;
}

.timeline-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error-message {
  text-align: center;
}


@media only screen and (min-width: 140px) and (max-width: 767px) {

    .panel {
      width: 30%;
    }

    .photo-box {
        img {
            width: 40px;
            height: 40px;
          }
        
          h2 {
            display: none;
          }
    }

    .navigation-menu
    .navigation-menu__ul
    .navigation-menu__ul-li {
        span {
            display: none;
    }
  }

  .go-back-icon {
    width: 30px;
    height: 30px;
  }

  .go-back-text {
    display: none;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.error {
  text-align: center;
  padding: 20px;
  background-color: #ffcccc;
  color: #990000;
}
  
/*Tools*/
.my-tools-container {
  grid-column: 2;
  grid-row: 3;
  display: block;
  width: 100%;
  height: 100%;
}

.my-tools-title {
  color: $green;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-auto-rows: 100px; 
  gap: 20px;
}

.tool-item {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.tool-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tool-item span {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #555;
}

.tool-item.react {
  background-color: $green;
  color: $white;
}

.tool-item.react:hover {
  background-color: $nice-blue;
}

.tool-item.photoshop {
  background-color: $green;
  color: $white;
}

.tool-item.photoshop:hover {
  background-color: $nice-blue;
}

.tool-item > div {
  font-size: 24px;
  font-weight: bold;
  color: $oxford;
}

.tool-item.react > div {
  color: $white;
}

.tool-item.photoshop > div {
  color: #fff;
}

//ContactForm

.contact-form-container {
  grid-column: 2;
  grid-row: 6;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.contact-form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.toggle-form-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.toggle-form-button:hover {
  background-color: #4da0ff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0s linear 0.5s;
}

.contact-form.visible {
  max-height: 500px; 
  opacity: 1;
  visibility: visible;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.required-icon {
  color: red;
  margin-left: 5px;
  font-size: 12px;
}

.form-group input[type="text"],
.form-group input[type="file"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
}

.form-group input[type="text"]:focus,
.form-group input[type="file"]:focus {
  border-color: #61dafb;
  outline: none;
}

.error-message {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #61dafb;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.submit-button.disabled {
  background-color: rgba(97, 218, 251, 0.5);
  cursor: not-allowed;
  opacity: 0.5;
}

.submit-button:hover:not(.disabled) {
  background-color: #4da0ff;
}

.submit-button-text {
  margin-left: 10px;
}

.next-section {
  margin-top: 0;
  transition: margin-top 0.5s ease;
}